@media(max-width: 384px){
  #img{
    height: 300px;
  }
}
@media(max-width: 412px){
  #img{
    height: 400px;
  }
}
#btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FF0000;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #ff00007a;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #FF0000;
  }
  
  #btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #FF0000;
  }
  
  #btn:active {
    transform: scale(0.9);
  }
  /* navigation */
  ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    z-index: 10000;
    color: #444;
  }
  ul li a ion-icon{
    font-size: 2.5em;
    transition: 0.5s;
  }
  ul li:hover a ion-icon{
    color: #ff0000;
    filter: drop-shadow(0 0 15px #ff0000);
  }
  ul li:active a ion-icon{
    color: #ff0000;
    filter: drop-shadow(0 0 15px #ff0000);
    transform: translateY(-50px);
  }
  #marker{
    position: absolute;
    top: 7px;
    width: 55px;
    height: 55px;
    background-color: #ff00007a;
    border-radius: 20px;
    border-top: 2px solid rgb(235, 101, 101);
    border-left: 2px solid rgb(235, 101, 101);
   /* box-shadow: 0 0 0 10px #616161,
    0 2px 0 9px rgb(235, 101, 101);*/
  }
  #marker::before{
    content: '';
    position: absolute;
    top: 29px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
  }
  #marker::after{
    content: '';
    position: absolute;
    top: 29px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
  }
  #marker1{
    position: absolute;
    top: 7px;
    left: 990px;
    width: 55px;
    height: 55px;
    background-color: #ff00007a;
    border-radius: 20px;
    border-top: 2px solid rgb(235, 101, 101);
    border-left: 2px solid rgb(235, 101, 101);
   /* box-shadow: 0 0 0 10px #616161,
    0 2px 0 9px rgb(235, 101, 101);*/
  }
  #marker1::before{
    content: '';
    position: absolute;
    top: 29px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
  }
  #marker1::after{
    content: '';
    position: absolute;
    top: 29px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
  }
  #marker2{
    position: absolute;
    top: 7px;
    right: 218px;
    width: 55px;
    height: 55px;
    background-color: #ff00007a;
    border-radius: 20px;
    border-top: 2px solid rgb(235, 101, 101);
    border-left: 2px solid rgb(235, 101, 101);
   /* box-shadow: 0 0 0 10px #616161,
    0 2px 0 9px rgb(235, 101, 101);*/
  }
  #marker2::before{
    content: '';
    position: absolute;
    top: 29px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
  }
  #marker2::after{
    content: '';
    position: absolute;
    top: 29px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
  }
  #marker3{
    position: absolute;
    top: 7px;
    right: 138px;
    width: 55px;
    height: 55px;
    background-color: #ff00007a;
    border-radius: 20px;
    border-top: 2px solid rgb(235, 101, 101);
    border-left: 2px solid rgb(235, 101, 101);
   /* box-shadow: 0 0 0 10px #616161,
    0 2px 0 9px rgb(235, 101, 101);*/
  }
  #marker3::before{
    content: '';
    position: absolute;
    top: 29px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
  }
  #marker3::after{
    content: '';
    position: absolute;
    top: 29px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
  }
  /* navigation end */